#page{
	width: 100%;
	margin: 0 auto;
}

#header{
	width: 100%;
	height:150px;
	background-color:#003580;
	margin-bottom:16px;
	color: white;
	
}

#header a:link,#header a:visited,#header a:hover{
	color:black; margin-left:5px; margin-right:5px;
}
#header-content{
	width:1000px;
	margin:auto;
	height:100px;
	
}
.noBorders tr, .noBorders td {
    background: none !important;
    border: none !important;
}
#headerlogo{
	margin-top: 25px;
	float:left;
}
#header-menu{
	float:right;
	height: 50px;
	
	
}

.capitalize {
  text-transform: capitalize;
  
}
label{text-transform: capitalize;}
div:first-letter {
  text-transform: uppercase;
  
}
#header-personal-form{ text-align: right;height: 50px;margin-top:25px;}
#header-personal-form ul li{
	display:inline;
}
#header-special-actions{height: 50px; color:green;}

.colLeft{  
	/* Firefox */
	width: -moz-calc(50% - 60px);
	/* WebKit */
	width: -webkit-calc(50% - 60px);
	/* Opera */
	width: -o-calc(50% - 60px);
	/* Standard */
	width: calc(50% - 60px);
	
	padding: 0px 30px 30px 30px;
	
	
	float:left;
	
}
.colRight{
	/* Firefox */
	width: -moz-calc(50% - 60px);
	/* WebKit */
	width: -webkit-calc(50% - 60px);
	/* Opera */
	width: -o-calc(50% - 60px);
	/* Standard */
	width: calc(50% - 60px);
	
padding: 0px 30px 30px 30px; 
 float:right;
 }
 .colUnique{padding: 0px 30px 30px 30px;
 /* Firefox */
	width: -moz-calc(100% - 60px);
	/* WebKit */
	width: -webkit-calc(100% - 60px);
	/* Opera */
	width: -o-calc(100% - 60px);
	/* Standard */
	width: calc(100% - 60px);
	
 
 }

#content{
	width:100%;
    
    
}
#form-signup:form:ciudad_input{width: 30px;}
.clear{clear:both;}

#footer{
	
	width: 100%;
	text-align: center;
	
}


